<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!--KNA1,COAS,V_AUART,LFA1,KNVV,TVV1T,TVV2T,TVV3T,TVKOV,TVKBZ,TVTWT,TVKBT,TVBVK,TVGRT,T171T,TVKOT,MARA,MAKT,SKA1,SKAT,MVKE,T179,T179T,TVM1T,TVM2T,TVM3T,TVM4T,T134T,T006A,T001K,T190ST,TWSPR,T023T,TSPAT,TVSMT,TVKMT,TMVFT,TTGRT,TLGRT,T024,T438X,T438T,T439T,T024D,T001L,TQ30T,TQ08T,TQ05T,T025,T025T,TCK14,TCK15,CEPCT-->
    <add key="TableToSync" value="TCK15,CEPCT" />
    <add key="TableOptions" value="V_AUART[(SPRAS = '2')]
         ,TVV1T[(SPRAS = 'E')]
         ,TVV2T[(SPRAS = 'E')]
         ,TVV3T[(SPRAS = 'E')]
         ,TVTWT[(SPRAS = 'E')]
         ,TVKBT[(SPRAS = 'E')]
         ,TVGRT[(SPRAS = 'E')]
         ,T171T[(SPRAS = 'E')]
         ,TVKOT[(SPRAS = 'E')]
         ,MAKT[(SPRAS = 'E')]
         ,SKA1[(KTOPL = 'MSCG')]
         ,SKAT[(KTOPL = 'MSCG') AND (SPRAS = '2')]
         ,T179T[(SPRAS = 'E')]
         ,TVM1T[(SPRAS = 'E')]
         ,TVM2T[(SPRAS = 'E')]
         ,TVM3T[(SPRAS = 'E')]
         ,TVM4T[(SPRAS = 'E')]
         ,T134T[(SPRAS = 'E')]
         ,T006A[(SPRAS = 'E')]
		     ,T190ST[(LANGU = 'E')]
         ,T023T[(SPRAS = 'E')]
         ,TSPAT[(SPRAS = 'E')]
		     ,TVSMT[(SPRAS = 'E')]
         ,TVKMT[(SPRAS = 'E')]
         ,TMVFT[(SPRAS = 'E')]
         ,TTGRT[(SPRAS = 'E')]
         ,TLGRT[(SPRAS = 'E')]		 
         ,T438X[(SPRAS = 'E')]
         ,T438T[(SPRAS = 'E')]
         ,T439T[(SPRAS = 'E')]
		     ,TQ30T[(SPRACHE = 'E')]
         ,TQ08T[(SPRACHE = 'E')]
         ,TQ05T[(SPRACHE = 'E')]	 
         ,T025T[(SPRAS = 'E')]
         ,TCK15[(SPRAS = 'E')]
         ,CEPCT[(SPRAS = 'E')]
         " /> <!--ตรง = ของ sap option ต้องมี เว้นวรรค ระหว่างเท่ากับ KNA1[(STCEG = '01055521141034.00000')] -->
    
    <add key="LOG4NET_DEBUG" value=".\Log4net_DEBUG.txt" />
    <add key="LOG4NET_ERROR" value=".\Log4net_ERROR.txt" />
    <!--client : 900-->
    <add key="SAPServerHost" value="sapeccprd.malee.co.th" />
    <add key="SAPSystemNumber" value="00" />
    <add key="SAPSystemID" value="EAP" />
    <add key="SAPUser" value="MGCRFC" />
    <add key="SAPPassword" value="RFC@Malee" />
    <add key="SAPClient" value="900" />
  
  </appSettings>
  <connectionStrings>
   <add name="SAP" connectionString="data source=RSLN-5000043\SQLEXPRESS;initial catalog=SAP;persist security info=True;user id=DEVlogin;password=DEVpassword2016;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <!--
  This writes the log information to the console window.  It only logs events
  that are at least at the INFO level (which would mean that DEBUG events are not
  captured.
  -->
    <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>-->
    <!--
  This stores information in the mylogfile.txt file.  It only captures log events
  that contain the key word test or error.
  -->
    <appender name="DEBUGFILE" type="log4net.Appender.RollingFileAppender">
      <!--<file value="D://log4net.txt"/>-->
      <file type="log4net.Util.PatternString" value="%property{LOG4NET_DEBUG}" />
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <!--<filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test"/>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="error"/>
      </filter>-->
      <!--<filter type="log4net.Filter.DenyAllFilter"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <appender name="ERRORFILE" type="log4net.Appender.RollingFileAppender">
      <!--<file value="D://log4net.txt"/>-->
      <file type="log4net.Util.PatternString" value="%property{LOG4NET_ERROR}" />
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <!--<filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test"/>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="error"/>
      </filter>-->
      <!--<filter type="log4net.Filter.DenyAllFilter"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="DEBUGFILE"/>
    </root>
    <!--<logger name="CustomerApp.Services.MailService" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="DEBUGFILE"/>
      --><!--IF additivity="true" THIS WILL GENERATE DUB LINE DUE TO WE ALREADY HAVE <appender-ref ref="RollingFileAppender"/> IN ROOT AND LOGGER WILL INHERIT FROM ROOT--><!--
    </logger>-->
  </log4net>
</configuration>